     <table class= "table p-3 m-3" >
  <thead>
    <th>Food</th>
    <th>Measurement Unit</th>
    <th>Unit Price($)</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %><span>kg</span></td>
      <td><span>$</span><%= food.price %></td>
      <td>
        <% if user_signed_in? && food.user == current_user %>
        <%= form_for( food, method: :delete) do |f| %>
          <%= f.submit 'delete', class: 'cursor-pointer  border-0 text-decoration-underline text-primary' %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>