<div>
  <h1>List of existing food items</h1>
  <%= link_to("New", new_food_path, class: 'btn-primary') if user_signed_in? %>
</div>

<% if @foods.blank? %>
  No food found.
  <% return %>
<% end %>

<table>
  <thead>
    <th>Food</th>
    <th>Measurement Unit</th>
    <th>Price</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td>
        <% if user_signed_in? && food.user == current_user %>
        <%= form_for( food, method: :delete) do |f| %>
          <%= f.submit 'delete', class: 'cursor-pointer' %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>