<h1>Add new food item</h1>

<%= form_with(model: @food, url: foods_path, method: :post, class: 'flex flex-col gap-2') do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: 'name' %>
  </div>
  <div class="field">
    <%= f.label :measurement_unit %><br />
    <%= f.text_field :measurement_unit, autocomplete: 'measurement_unit' %>
  </div>
  <div class="field">
    <%= f.label :price, 'Price ($)' %><br />
    <%= f.number_field :price, in: 0.0..100.0, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.submit 'Create', class: 'btn-primary' %>
  </div>
<% end %>